.transactionHistory {
  width: 600px;
    border-collapse: collapse;
  text-align: center;
  box-shadow:  0 0 2px 1px #ccc;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    color: #6C7177;
  }


th {
    background-color: #00BCD5;
    font-weight: bold;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
